/*--------------------------------------------------------------
Satori - Header Standard Styling
--------------------------------------------------------------*/

.site-header .site-container {
    
}
.site-branding {
    float: left;
    padding: 10px 0 22px 30px;
    width: 22%;
}
.site-branding-right {
    float: right;
    padding: 30px 30px 0 0;
    text-align: right;
    width: 26%;
}
.site-branding-right-meta {
    padding: 0 0 15px;
}
.site-branding-right-social {
    
}

.site-title {
    margin: 0;
    padding: 10px 0 12px;
    font-size: 46px;
    line-height: 64px;
    font-weight: 300;
    white-space: nowrap;
}
.site-description {
    margin: 0;
    padding: 0 0 11px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: inherit;
}

#primary-menu,
#main-menu > div {
    display: inline-block;
    vertical-align: top;
}

.header-cart {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
}

.header-cart {
    color: #000;
    font-weight: 400;
}
a.header-cart-contents {
    color: inherit !important;
    padding: 55px 15px 25px;
    display: block;
}
.header-cart-amount {
    
}
.header-cart-checkout {
    margin: 0 0 0 4px;
}

.menu-search {
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
}
.search-btn {
    padding: 5px;
    cursor: pointer;
}

.search-block {
    position: absolute;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    top: -51px;
    right: 30px;
    padding: 9px 9px;
    z-index: 99;
    display: none;
    opacity: 0;
}
.search-block .search-field {
    font-size: 16px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-color: #FFF;
    width: 280px;
    font-weight: 200;
    outline: none;
    color: inherit;
    box-sizing: border-box;
}
.search-block .search-submit {
    display: none;
}
    
.show-site-search .search-block {
    display: block;
}

#main-menu {
    text-align: center;
}
.main-navigation {
    float: left;
    padding: 0;
    width: 52%;
    -webkit-transition: right 0.4s ease 0s;
    -moz-transition: right 0.4s ease 0s;
    -ms-transition: right 0.4s ease 0s;
    -o-transition: right 0.4s ease 0s;
    transition: right 0.4s ease 0s;
}
.main-navigation li a {
    padding: 55px 16px 50px;
}
.main-navigation ul ul {
    bottom: 126px;
}
.main-navigation ul ul li {
    position: relative;
}
.main-navigation ul ul ul {
    bottom: 0;
    top: auto;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
    right: auto;
    left: 0;
}
.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
    right: auto;
    left: 100%;
}

.main-navigation.satori-navigation-down ul ul {
    bottom: auto;
    top: 125px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.main-navigation.satori-navigation-down ul ul ul {
    bottom: auto;
    top: 0;
}

#page {
    position: relative;
    right: 0;
    
    -webkit-transition: right 0.4s ease 0s;
     -moz-transition: right 0.4s ease 0s;
      -ms-transition: right 0.4s ease 0s;
       -o-transition: right 0.4s ease 0s;
          transition: right 0.4s ease 0s;
}

@media screen and (max-width: 1100px) {
    
    .site-branding,
    .site-branding-right {
        width: auto;
    }
    .main-navigation {
        position: absolute;
        width: 200px;
        top: 35px;
        left: 50%;
        margin: 0 0 0 -120px;
        padding: 0;
    }
    .header-menu-button {
        display: block;
        padding: 15px 0 16px;
        text-transform: uppercase;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
    }
    .header-menu-button i {
        font-size: 20px;
        vertical-align: middle;
    }
    .header-menu-button span {
        vertical-align: middle;
        margin: 0 0 0 6px;
    }
    
    #main-menu > div,
    .main-navigation ul,
    .menu-dropdown-btn {
        display: block;
    }
    .header-cart {
        position: absolute;
        top: 12px;
        left: 12px;
    }
    a.header-cart-contents {
        padding: 8px 10px;
        color: #FFF !important;
    }
    
    .main-navigation #main-menu {
        color: #FFFFFF;
        position: fixed;
        top: 0;
        right: -280px;
        width: 280px;
        max-width: 100%;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 50px 22px 30px 22px;
        background: #000000;
        z-index: 99999;
        height: 100%;
        overflow: auto;
        -webkit-transition: right 0.4s ease 0s;
        -moz-transition: right 0.4s ease 0s;
        -ms-transition: right 0.4s ease 0s;
        -o-transition: right 0.4s ease 0s;
        transition: right 0.4s ease 0s;
    }
    .main-navigation li {
        display: block;
        float: none;
    }
    .main-navigation li a {
        display: block;
        float: none;
        padding: 7px 0;
        color: #C5C5C5 !important;
        text-align: left;
    }
    
    .main-navigation ul ul {
        box-shadow: none;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        float: none !important;
        background-color: rgba(255, 255, 255, 0.14) !important;
        padding: 0;
        margin: 0;
        display: none !important;
    }
    .main-navigation ul ul li:last-child a,
    .main-navigation ul ul li a {
        padding: 7px 12px;
        width: auto;
    }
    .main-navigation ul ul li a {
        background: none !important;
    }
    
    #primary-menu {
        display: block;
    }
    .main-menu-close {
        display: block;
        border-radius: 4px;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: #898989;
        text-align: center;
        padding: 0 8px 0 12px;
        height: 40px;
        line-height: 38px;
        z-index: 10;
        cursor: pointer;
    }
    .main-menu-close .fa-angle-left {
        position: relative;
        left: -4px;
    }
    
    body.admin-bar .main-navigation #main-menu {
        padding: 78px 22px 30px 22px;
    }
    body.admin-bar .main-menu-close {
        top: 40px;
    }
    body.admin-bar .header-cart {
        top: 42px;
    }

    body.show-main-menu #main-menu {
        right: 0px;
    }
    body.show-main-menu #page {
        right: 280px;
    }
    body.show-main-menu .main-navigation {
        right: 295px;
    }
    
}

@media only screen and (max-width: 782px) {
    
    .site-header .site-container {
        text-align: center;
    }
    
    .search-block {
        left: 60px;
        right: 60px;
    }
    .search-block .search-field {
        margin: 0;
        width: 100%;
        font-size: 17px;
        padding: 4px 6px;
    }
    
    .site-branding {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
    }
    .site-title {
        padding: 5px 0 5px;
        font-size: 50px;
        display: inline-block;
    }
    .site-description {
        padding: 0 0 6px;
    }
    .site-branding-right {
        float: none;
        padding: 0 0 5px;
        text-align: center;
    }
    .site-branding-right-meta {
        display: inline-block;
    }
    .site-branding-right-social {
        display: inline-block;
        vertical-align: middle;
    }
    .header-social-icon {
        font-size: 16px;
    }
    
    .header-cart {
        float: none;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 2px;
        white-space: nowrap;
    }
    a.header-cart-contents {
        white-space: nowrap;
    }
    .main-navigation {
        float: none;
        text-align: center;
        width: auto;
        padding: 0;
        margin: 0;
        position: fixed;
        top: 15px;
        left: auto;
        right: 15px;
        background-color: #FFF;
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.28);
        z-index: 99999;
        white-space: nowrap;
    }
    .main-navigation li {
        text-align: left;
    }
    .header-menu-button {
        margin: 0;
        padding: 10px 18px 10px;
        display: block;
        white-space: nowrap;
    }
    body.admin-bar .main-menu-close {
        top: 55px;
    }
    
    .menu-search {
        padding: 0;
        float: none;
        display: inline-block;
        vertical-align: middle;
        box-shadow: none;
        margin: 0 10px 0 0;
        font-size: 16px;
    }
    
    body.admin-bar .main-navigation #main-menu {
        padding: 95px 22px 30px 22px;
    }
    body.admin-bar .main-menu-close {
        top: 55px;
    }
    body.admin-bar .header-cart {
        top: 58px;
    }
    
}

@media only screen and (max-width: 580px) {
    
    .site-branding-right-meta {
        position: absolute;
        top: -32px;
        left: 12px;
        color: #FFF;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
    }
    
}