/*--------------------------------------------------------------
Satori - Header Standard Styling
--------------------------------------------------------------*/

.site-header .site-container {
    
}
.site-branding {
    float: left;
    padding: 12px 0 12px;
}
.site-branding-right {
    float: right;
    padding: 30px 0 2px;
    text-align: right;
}
.site-branding-right-meta {
    padding: 0 0 10px;
}
.site-branding-right-social {
    
}

.header-social {
    position: absolute;
    top: 88px;
    left: 15px;
}

.site-title {
    margin: 0;
    padding: 12px 0 12px;
    font-size: 46px;
    line-height: 64px;
    font-weight: 300;
    white-space: nowrap;
}
.site-description {
    margin: 0;
    padding: 0 0 10px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    text-transform: uppercase;
}

.header-cart {
    
}

a.header-cart-contents {
    color: inherit !important;
    padding: 10px 0 35px 15px;
    display: block;
    font-size: 16px;
    white-space: nowrap;
}
.header-cart-amount {
    font-size: 15px;
    vertical-align: middle;
}
.header-cart-amount span {
}
.header-cart-checkout {
    position: relative;
    top: 2px;
}

.header-social-icon {
    font-size: 18px;
}
.social-pinterest span {
    top: -3px;
}

.menu-search {display: inline-block;vertical-align: middle;margin: 0 0 0 -8px;}
.search-btn {
    padding: 5px;
    cursor: pointer;
    font-size: 17px;
}

.search-btn {
    padding: 5px 0 5px 8px;
    cursor: pointer;
}

.search-block {
    position: absolute;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    border-radius: 3px 3px 0 0;
    top: -51px;
    right: 28px;
    padding: 9px 9px;
    z-index: 99;
    display: none;
    opacity: 0;
}
.search-block .search-field {
    font-size: 16px;
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-color: #FFF;
    width: 280px;
    font-weight: 200;
    outline: none;
    color: inherit;
    box-sizing: border-box;
}
.search-block .search-submit {
    display: none;
}
    
.show-site-search .search-block {
    display: block;
}

.main-navigation {
    padding: 0;
    
    -webkit-transition: right 0.4s ease 0s;
    -moz-transition: right 0.4s ease 0s;
    -ms-transition: right 0.4s ease 0s;
    -o-transition: right 0.4s ease 0s;
    transition: right 0.4s ease 0s;
}

#primary-menu,
#main-menu > div {
    float: left;
}

.main-navigation li a {
    padding: 14px 16px 35px;
}

.main-navigation.satori-navigation-down ul ul {
    bottom: auto;
    top: 70px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.main-navigation.satori-navigation-down ul ul ul {
    bottom: auto;
    top: 0;
}

#page {
    position: relative;
    right: 0;
    
    -webkit-transition: right 0.4s ease 0s;
     -moz-transition: right 0.4s ease 0s;
      -ms-transition: right 0.4s ease 0s;
       -o-transition: right 0.4s ease 0s;
          transition: right 0.4s ease 0s;
}

@media screen and (max-width: 1025px) {
    
    .header-menu-button {
        display: block;
        padding: 18px 0 20px;
        text-transform: uppercase;
        cursor: pointer;
    }
    .header-menu-button i {
        font-size: 21px;
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    .header-menu-button span {
        vertical-align: middle;
        margin: 0 0 0 6px;
        font-size: 20px;
    }
    .menu-dropdown-btn {
        display: block;
    }
    #main-menu > div,
    .main-navigation ul {
        display: block;
        float: none;
    }
    .header-cart {
        position: absolute;
        top: 10px;
        left: 12px;
    }
    a.header-cart-contents {
        padding: 8px 10px;
    }
    
    .main-navigation #main-menu {
        color: #FFFFFF;
        position: fixed;
        top: 0;
        right: -280px;
        width: 280px;
        max-width: 100%;
        -ms-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 50px 22px 30px 22px;
        background: #000000;
        z-index: 99999;
        height: 100%;
        overflow: auto;
        -webkit-transition: right 0.4s ease 0s;
        -moz-transition: right 0.4s ease 0s;
        -ms-transition: right 0.4s ease 0s;
        -o-transition: right 0.4s ease 0s;
        transition: right 0.4s ease 0s;
    }
    .main-navigation li {
        display: block;
        float: none;
    }
    .main-navigation li a {
        display: block;
        float: none;
        padding: 7px 0;
        color: #C5C5C5 !important;
        text-align: left;
    }
    
    .main-navigation ul ul {
        box-shadow: none;
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        float: none !important;
        background-color: rgba(255, 255, 255, 0.14) !important;
        padding: 0;
        margin: 0;
        display: none !important;
    }
    .main-navigation ul ul li:last-child a,
    .main-navigation ul ul li a {
        padding: 7px 12px;
        width: auto;
    }
    .main-navigation ul ul li a {
        background: none !important;
    }
    
    #primary-menu {
        display: block;
        float: none;
    }
    .main-menu-close {
        display: block;
        border-radius: 4px;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        color: #898989;
        text-align: center;
        padding: 0 8px 0 12px;
        height: 40px;
        line-height: 38px;
        z-index: 10;
        cursor: pointer;
    }
    .main-menu-close .fa-angle-left {
        position: relative;
        left: -4px;
    }
    
    body.admin-bar .main-navigation #main-menu {
        padding: 78px 22px 30px 22px;
    }
    body.admin-bar .main-menu-close {
        top: 40px;
    }
    body.admin-bar .header-cart {
        top: 38px;
    }

    body.show-main-menu #main-menu {
        right: 0px;
    }
    body.show-main-menu #page {
        right: 280px;
    }
    body.show-main-menu .main-navigation {
        right: 295px;
    }
    
}

@media only screen and (max-width: 782px) {
    
    .site-header .site-container {
        text-align: center;
    }
    
    .search-block {
        right: 60px;
        left: 60px;
    }
    .search-block .search-field {
        margin: 0;
        width: 100%;
        font-size: 17px;
        padding: 4px 6px;
    }
    
    .site-branding {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
    }
    .site-title {
        padding: 4px 0 4px;
        font-size: 52px;
        display: inline-block;
    }
    .site-branding-right {
        float: none;
        padding: 0;
        text-align: center;
    }
    .site-branding-right-meta {
        padding: 0 0 10px;
    }
    .site-branding-right-social {
        
    }
    
    .header-cart {
        float: none;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        margin: 0 0 2px;
        white-space: nowrap;
    }
    a.header-cart-contents {
        white-space: nowrap;
    }
    .main-navigation {
        float: none;
        text-align: center;
        padding: 0;
        position: fixed;
        top: 15px;
        right: 15px;
        background-color: #FFF;
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.28);
        z-index: 99999;
    }
    .main-navigation li {
        text-align: left;
    }
    .header-menu-button {
        margin: 0;
        padding: 10px 18px 10px;
        display: block;
        white-space: nowrap;
    }
    .header-menu-button i {
        font-size: 14px;
        position: relative;
        top: 1px;
    }
    .header-menu-button span {
        
    }
    body.admin-bar .main-menu-close {
        top: 55px;
    }
    
    .menu-search {
        padding: 0;
        float: none;
        display: inline-block;
        vertical-align: middle;
        box-shadow: none;
        margin: 0 15px 0 0;
    }
    
    body.show-main-menu.admin-bar .header-cart {
        top: 55px;
    }
    body.show-main-menu.admin-bar #main-menu {
        padding: 100px 22px 30px 22px;
    }
    
}

@media only screen and (max-width: 580px) {
    
    .site-topbar-right-no {
        position: absolute;
        top: -32px;
        left: 12px;
        color: #FFF;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.45);
    }
    
}