#customize-theme-controls #accordion-panel-satori-panel-layout .accordion-section-title:hover,
#customize-theme-controls #accordion-section-satori-header-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-satori-slider-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-satori-blog-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-satori-website-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-colors .accordion-section-title:hover,
#customize-theme-controls #accordion-section-satori-typography-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-satori-social-section .accordion-section-title:hover,
#customize-theme-controls #accordion-section-satori-footer-section .accordion-section-title:hover {
    background-color: #006CC9;
    color: #FFF;
}

#customize-controls .control-section .customize-section-title h3 {
	color: inherit;
}

.kaira-upsell-desc {
    font-size: 11px;
    color: rgb(142, 142, 142);
}
#accordion-section-satori_premium a.button {
    background-color: #006CC9;
    color: #FFF;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    border: 0;
    position: relative;
    top: -2px;
}
#accordion-section-satori_premium a.button:hover {
    background-color: #0952A9;
    color: #FFF;
}

.customize-control.customize-control-upsell {
    margin-top: 20px;
}
.customize-control.customize-control-upsell b {
    font-weight: 500;
    color: #006cc9;
}

#customize-control-custom_logo,
#customize-control-satori-website-site-add,
#customize-control-satori-website-head-no,
#customize-control-background_color,
#customize-control-blogdescription,
#customize-control-satori-banner-titles,
#customize-control-satori-header-layout,
#customize-control-satori-navigation-up-down,
#customize-control-satori-header-menu-text,
#customize-control-satori-website-error-msg,
#customize-control-satori-body-font-color {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 0 25px;
    margin-bottom: 20px;
}
#customize-control-satori-slider-cats,
#customize-control-satori-meta-slider-shortcode,
#customize-control-satori-wc-mobile-prod-full-width {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 25px 0 0;
    margin-top: 20px;
}
