body{font-size:75%; background:#f8f8f8 url('../images/main_bg.png');font-family:sans-serif; color:#5a5a5a}
html>body{font-size:14px; line-height:24px; margin:0;}

img {border:none;}


h1, h2, h3, h4, h5, h6{font-family: sans-serif;color:#3F3F3F;font-weight: bold;line-height: 100%;padding:0 0;}
h1{font-size:28px; line-height:40px}
h2{font-size:24px; line-height:30px}
h3{font-size:18px; line-height:24px;}
h4{font-size:16px; line-height:22px;}
h5{font-size:15px; line-height:20px}
h6{font-size:13px; line-height:18px}

.divider{background:url('../images/sep.png') repeat-x bottom;padding-bottom:12px;}
.clear{clear:both;}

.admin-panel {
	width: 940px;
	max-width:100%;
	margin: 40px auto;
	direction:ltr;
	text-align:left;
	background:url(../images/bg.jpg);

}
.admin-panel * {
	
}
.clear {
	clear: both;
}

.admin-panel-head {

	height: 100px;
	overflow: hidden;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #FFF;
	display: none;
}
.admin-panel-content h2{
	margin-bottom:50px;
	font-size:20pt;
	border-bottom:double 4px #ccc;
	padding-bottom:8px;
	margin-top:10px;
	float:left;

}
.admin-panel-head .left-block {
	float: left;
	padding: 20px;
	text-align: center;
}
dd{margin-bottom:10px}
.top-nav{margin-top:20px; margin-bottom:10px}
#logo {display:block; margin:10px 10px 0 0}
.meta-info p,  .admin-panel-footer  p{color:#ddd;}
.meta-info, .admin-panel-footer  {text-align:right}
.admin-panel-footer{padding-top:10px}
.meta-info p:first-child{margin-bottom:0}
.tabs-wrap.row{margin-left:0px}
.admin-panel-tabs {
	padding-bottom: 25px;
	background:url(../images/bg-sidebar.png)
}
.admin-panel-tabs ul {
	border-top:1px solid #333;
	border-bottom:1px solid #555;
	margin-left:0; padding-left:0;
}
.admin-panel-tabs li {
	border-bottom:1px dotted #111;
	border-top:1px dotted #555;
	list-style:none;
}
.admin-panel-tabs li a {
	padding: 20px 10px;
	display: block;
	text-shadow: 0 1px 1px #333;
	color: #ccc;	
	cursor: pointer;
	border: 0;
	outline: none;
	text-decoration: none;
	-webkit-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	-moz-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	-o-transition: background ease-in-out 0.2s , padding  ease-in-out 0.2s;
	transition: background  ease-in-out 0.2s , padding  ease-in-out 0.2s;
	font-size:14px;
}
.admin-panel-tabs li a:hover, .admin-panel-tabs li.active a {
	background-color: #777;
	padding-right:15px;
	padding-left:15px;
	background: url(../images/nav-hover.png);
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px 0px #000;
}
}
.admin-panel-tabs li.active {
	position: relative;
	width: 185px;
	border:0 none;
}

.admin-panel-tabs li a span{
	display:inline-block;
	float:left;
	margin-right:8px;
	margin-top:0px;
	background: url(../images/icons.png) no-repeat;
}
.admin-panel-tabs li a  {line-height:26px}
.admin-panel-tabs li.blog span{background-position: -163px -14px ;width: 23px;height: 22px;}
.admin-panel-tabs li.credits span{background-position: -462px -15px ;width: 24px;height: 22px;}
.admin-panel-tabs li.faqs span{background-position: -413px -13px ;width: 24px;height: 24px;}
.admin-panel-tabs li.getting-started span{background-position: -11px -11px ;width: 28px;height: 28px;}
.admin-panel-tabs li.page-settings span{background-position: -113px -13px ;width: 24px;height: 24px;}
.admin-panel-tabs li.portfolio-settings span, .admin-panel-tabs li.menu-settings span{background-position: -213px -15px ;width: 20px;height: 17px;}
.admin-panel-tabs li.screencasts span{background-position: -512px -15px ;width: 26px;height: 21px;}
.admin-panel-tabs li.shortcodes span{background-position: -265px -14px ;width: 19px;height: 21px;}
.admin-panel-tabs li.sidebars-widgets span{background-position: -313px -13px ;width: 23px;height: 24px;}
.admin-panel-tabs li.slider-settings span{background-position: -62px -14px ;width: 25px;height: 23px;}
.admin-panel-tabs li.translation span{background-position: -363px -13px ;width: 24px;height: 24px;}

.admin-panel-content {
	background: url('../images/content_bg.jpg') ;
	padding: 20px;
	margin-left:0 !important;
	width:76.92307692% !important;
	min-height:600px;
	position:relative;
	padding-bottom:85px;
	overflow:hidden;
}
.admin-panel-content.full-content {float:none; width:auto}
.admin-panel-content.full-content h2 {float:none}
.admin-panel-content p {
	margin: 0;
	padding: 10px 0;
	clear: both;
}
dd, p , li{line-height:24px}
div.option-item{
	clear:both;
	padding:8px 15px ;
	overflow:hidden;
	background:url('../images/sep.png') repeat-x bottom;
	position:relative;
}
div.option-item:last-child{ background:transparent;}
.weblusivepanel-item label {
	display: inline-block;
	padding-top:4px ;
	font-size:11pt;
}
.inner-meta {padding:4px 0px; margin:4px 0 0 0}
.inner-meta li {display:inline-block; margin-right:30px; }
.mo-help {
	background: url(../images/help.png) no-repeat top;
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: help;
	position:absolute;
	top:19px;
	right:10px;
}
.panel-content{padding:0px 12px}
.weblusive-options li {
	float: left;
	margin: 5px 21px;
}
.weblusive-options img {
background: white;
padding: 4px;
margin: 0 0 5px;
border: solid 1px #CCC;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.weblusive-options img:hover {
	background: #33B5E5 !important;
}
.weblusive-options .selected img {
	background:  #ffc000 !important;
}
.weblusive-options li input {
	display: none;
}
.img-preview {
	margin: 10px 0;
	text-align: left;
	border:4px solid #CCC;
	float:right;
	clear:both;
	position:relative;
	line-height:0;
}
.img-preview img{
	max-width: 100%;
}
.img-preview  .del-img{ position:absolute;
	left:-10px;
	bottom:-10px;
	background:url(../images/delete.png) no-repeat top;
	width:20px;
	height:20px;
	cursor:pointer;
}
.weblusivepanel-item {
	margin: 0 0 20px;
	background: #fff ;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow:1px 1px 2px 0 rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	overflow: hidden;
	clear:both;
	position:relative;
	
}
.weblusivepanel-item h3 {
	background:linear-gradient(to bottom, rgba(254,254,254,1) 0%,rgba(243,243,243,1) 100%);
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px;
	padding: 8px 10px;
	cursor:default !important;
	font-size:14px;
	
}
.list {padding-left:20px}
.next-section {float:right; background:url('../images/next.png') no-repeat right; padding-right:20px}
.prev-section {float:left; background:url('../images/prev.png') no-repeat left; padding-left:20px}
iframe {max-width:100%}
frame {border:none}
.alert-block, .alert {margin:10px}
.sep-list li {margin-bottom:10px}

.ol-type1{  counter-reset: li; margin-left: 5px; padding-left: 0; margin-top:20px;}
.ol-type1 > li { color: #666; list-style: none outside none;  margin: 0 0 20px 20px; padding: 4px 8px 4px 30px;  position: relative;}
.ol-type1 > li:before{   -moz-box-sizing: border-box; color: #333; content: counter(li, decimal);  counter-increment: li;  font-size: 24px; left: -1em;  margin-right: 8px; margin-top:4px;   position: absolute; text-align: center; width: 36px; border:dotted 1px #bbb; padding-top:10px; padding-bottom:7px}

.toggle-wrapper{margin-bottom:10px}
.toggle-trigger {
	color: #000;
	font-size: 13px;
	font-weight: 700;
	margin: 10px 0px 0px 0px;
	padding: 13px 12px;
	background: #f8f8f8 url('../images/open.png') 98% center no-repeat;
	cursor: pointer;
	transition: all 0.17s ease-in-out;
	-moz-transition: all 0.17s ease-in-out;
	-webkit-transition: all 0.17s ease-in-out;
	-o-transition: all 0.17s ease-in-out;
	display:block; text-decoration:none;
}
.toggle-trigger:hover {text-decoration:none}
.toggle-trigger.open  {
	color: #fff;
	background: #666 url('../images/close.png') 98% center no-repeat;
}
.toggle-container {
	margin: 0px 0px 10px 0px;
	padding: 10px 12px;
	border: 1px solid #e8e8e8;
	border-top: none;
}
#logo img {margin-bottom:10px}