#food_restro_pro_sidebar_layout label{
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

#food_restro_pro_sidebar_layout label input{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#food_restro_pro_sidebar_layout label img{
    vertical-align: middle;
    border: 2px solid transparent;
}
#food_restro_pro_sidebar_layout img:hover,
#food_restro_pro_sidebar_layout img:focus {
    border-color: #00a0d2;
}
#food_restro_pro_sidebar_layout label input:checked + img{
    border: 2px solid #00a0d2;
}

/*--------------------------------------------------------------
                        Metabox
--------------------------------------------------------------*/
#side-sortables .ui-tabs .ui-tabs-nav li a {
    padding: 5px;
    font-size: 12px;
}
#sidebar-metabox td {
    padding: 2px 0;
    display: block;
}
#side-sortables .ui-tabs-panel label {
    margin-right: 10px;
    font-size: 12px;
}
#side-sortables .ui-tabs-panel img {
    max-width: 32px;
}