#customize-controls .control-section-blog-diary .accordion-section-title:hover,
#customize-controls .control-section-blog-diary .accordion-section-title:focus {
	background-color: #865fc1;
	color: #fff;
}

.control-section-blog-diary .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #eb4986;
	border-color: #eb4986;
	color: #fff;
}

.rtl .control-section-blog-diary .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-blog-diary h3.accordion-section-title {
    background-color: #865fc1;
    color: #fff;
}
