#customize-controls .control-section-food-restro .accordion-section-title:hover,
#customize-controls .control-section-food-restro .accordion-section-title:focus {
	background-color: #333;
	color: #fff;
}

.control-section-food-restro .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
	background-color: #ff2d00;
	border-color: #ff2d00;
	color: #000;
}

.rtl .control-section-food-restro .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

li#accordion-section-food-restro h3.accordion-section-title {
    background-color: #333;
    color: #fff;
}
